<div class="m-player">
  <!--  锁-->
  <div class="lock"></div>
  <!--  小横条-->
  <div class="hand"></div>
  <div class="container">
    <div class="wrap">
      <!--      按钮组-->
      <div class="btns">
        <i class="prev"></i>
        <i class="toggle"></i>
        <i class="next"></i>
      </div>
      <div class="head">
        <img src="http://s4.music.126.net/style/web2/img/default/default_album.jpg" alt="">
        <i class="mask"></i>
      </div>
      <div class="play">
        <!--        歌曲 歌手-->
        <div class="words clearfix" hidden>
          <p class="ellipsis">歌名</p>
          <ul class="songs clearfix">
            <li>歌手一</li>
            <li>歌手二</li>
          </ul>
        </div>
        <!--        进度条-->
        <div class="bar">
          <div class="slider-wrap">
            <div>进度条</div>
          </div>
          <!--          歌曲时间-->
          <span class="time">
            <em>02:11</em>/ 04:35
          </span>
        </div>
      </div>
      <div class="oper">
        <i class="like" title="收藏"></i>
        <i class="like" title="分享"></i>
      </div>
      <div class="ctrl">
        <i class="volume" title="音量"></i>
        <i class="loop" title="循环"></i>
        <p class="open">
          <span> </span>
        </p>
      </div>
    </div>
  </div>
</div>
